<%- include header %>

    <div class="container">



        <form role="form" method="post" action="/promo" encType="multipart/form-data">
            <!-- <h3 class="animated fadeIn mb-4 text-center">Submit Photos</h3> -->

<!--             <% if (message.length > 0) { %>
                <div class="alert alert-success col-sm-12"><%= message %></div>
            <% } %> -->
            <% if (status.length > 0) { %>                                                                                
                <input type="hidden" id="status" name="status" value="<%= status %>">
            <% } %>
                <input type="hidden" id="mid" name="mid" value="">

                <input type="hidden" id="tag" name="tag" value="">

            <div class="md-form animated fadeIn">
                <i class="fa fa-hashtag prefix grey-text"></i>
                <input type="text" id="trans_no" name="trans_no" value="" class="form-control" required="">
                <label for="trans_no">Transaction no.</label>
            </div>

            <div class="md-form animated fadeIn">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="fname" name="fname" value="" class="form-control" required="">
                <label for="fname">Your first name</label>
            </div>
            
            <div class="md-form animated fadeIn">
                <i class="fa fa-user prefix grey-text" style="visibility: hidden"></i>
                <input type="text" id="lname" name="lname" value="" class="form-control" required="">
                <label for="lname">Your last name</label>
            </div>

            <div class="md-form animated fadeIn">
                <i class="fa fa-mobile prefix grey-text"></i>
                <input type="number" id="contact" name="contact" class="form-control" required="">
                <label for="contact">Your mobile number</label>
            </div>

            <div class="md-form animated fadeIn" id="emailAdd">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="email" name="email" class="form-control" required="">
                <label for="email">Your email address</label>
            </div>            

            <div class="md-form animated fadeIn">
                <i class="fa fa-birthday-cake prefix grey-text"></i>
                <input type="text" id="bday" name="bday" class="form-control" required="">
                <label for="bday">Your birthday</label>
            </div>            

            <div class="md-form animated fadeIn">
                <i class="fa fa-address-card prefix grey-text"></i>
                <textarea type="text" id="address" name="address" class="form-control md-textarea" rows="2"></textarea>   
                <label for="address" class="animated zoomIn">Address</label>
            </div>           

            <div class="text-center mt-4 animated fadeIn lightSpeedIn">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        <!-- Material form register -->
    </div>                      

<%- include footer %>    